#
# minimalistic Minimoz example without any real layout
# (c) 2004 Andreas Steinmetz, ast@domdv.de
#
*******************************************************************************

<+webnews>
<+label>Google Groups<-label>
<+pre>http://groups.google.com/groups?group=<-pre>
<+post><-post>
<-webnews>

<+searchengine>
<+label>Google&nbsp;USENET<-label>
<+pre>http://groups.google.com/groups?q=<-pre>
<+post><-post>
<+home>http://groups.google.com/<-home>
<-searchengine>

<+searchengine>
<+label>Google<-label>
<+pre>http://www.google.com/search?num=10&amp;query=<-pre>
<+post><-post>
<+home>http://www.google.com/<-home>
<-searchengine>

<+desclink:desclink>
<-desclink>

<+history:history>
<-history>

<+searchform:searchform>
<+opts>advanced<-opts>
<-searchform>

<+letterbar:letterbar>
<-letterbar>

<+narsym:narsym>
<+rowin><br><-rowin>
<+opts>linksymbol<-opts>
<-narsym>

<+related:related>
<+labelin><p><-labelin>
<+rowin><br><-rowin>
<-related>

<+otherlang:otherlang>
<+labelin><p><-labelin>
<+rowin><br><-rowin>
<-otherlang>

<+content:content>
<+rowin><br><-rowin>
<-content>

<+searchinfo:searchinfo>
<-searchinfo>

<+externalsearch:externalsearch>
<-externalsearch>

<+newsgroup:newsgroup>
<+rowin><br><-rowin>
<+opts>news<-opts>
<-newsgroup>

<+editor:editor>
<-editor>

<+lastupdate:lastupdate>
<-lastupdate>

<+termsofuse:termsofuse>
<-termsofuse>

<+description:description>
<-description>

<+advanced:advanced>
<+categoryin><br><-categoryin>
<+modein><br><-modein>
<+ktmin><br><-ktmin>
<+opts>searchtype kidssearch<-opts>
<-advanced>

<+engines:engines>
<-engines>

<+topicquery:topicquery>
<+rowin><br><-rowin>
<+morein><p><-morein>
<+opts>more<-opts>
<-topicquery>

<+contentquery:contentquery>
<+rowin><br><-rowin>
<+prevnextin><p><-prevnextin>
<+opts>more<-opts>
<-contentquery>

<+false:notfound>No entries found.<-false>

<+catlink:catlink>
<-catlink>

<+catalogpage>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>minimoz</title>
</head>
<body>
<p><@desclink:desclink>
<p><@history:history>
<p><@searchform:searchform>
<p><@letterbar:letterbar>
<hr>
<p><@narsym:narsym>
<p><@related:related>
<p><@otherlang:otherlang>
<p><@content:content>
<hr>
<p><@searchinfo:searchinfo> <@externalsearch:externalsearch>
<p><@newsgroup:newsgroup>
<p><@editor:editor>
<p><@lastupdate:lastupdate>
<p><@termsofuse:termsofuse>
</body>
</html>
<-catalogpage>

<+infopage>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>minimoz</title>
</head>
<body>
<@description:description>
</body>
</html>
<-infopage>

<+advancedpage>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>minimoz</title>
</head>
<body>
<p><@advanced:advanced>
<p><@engines:engines>
</body>
</html>
<-advancedpage>

<+querypage>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>minimoz</title>
</head>
<body>
<@clear>
<p><@topicquery:topicquery>
<p><@contentquery:contentquery>
<p><@false:notfound>
<hr>
<p><@searchform:searchform>
<p><@searchinfo:searchinfo> <@externalsearch:externalsearch>
<p><@catlink:catlink>
</body>
</html>
<-querypage>
